@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary: #2f2f2f /*--color-primary-dark*/;
	--color-secondary: #6a6a6a;
	--font-family-ubuntu: 'Ubuntu', sans-serif;
}

@layer base {
	html {
		scroll-behavior: smooth;
		overflow-x: hidden;
		font-family: var(--font-family-ubuntu);
	}
	body {
		overflow-x: hidden;
		@apply text-white;
		font-family: var(--font-family-ubuntu);
	}
}

@layer utilities {
	.perspective-1000 {
		perspective: 1000px;
	}
	.preserve-3d {
		transform-style: preserve-3d;
	}
	.backface-hidden {
		backface-visibility: hidden;
	}
	.rotate-y-180 {
		transform: rotateY(180deg);
	}
}
