@import 'tailwindcss';

@theme {
	--color-primary: #2f2f2f /*--color-primary-dark*/;
	--color-secondary: #6a6a6a;
}

@layer base {
	html {
		scroll-behavior: smooth;
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
		@apply text-white;
	}
}

@layer utilities {
	.perspective-1000 {
		perspective: 1000px;
	}
	.preserve-3d {
		transform-style: preserve-3d;
	}
	.backface-hidden {
		backface-visibility: hidden;
	}
	.rotate-y-180 {
		transform: rotateY(180deg);
	}
}
