@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  /* Profil image style and filp properties */
  .flip .flip-image.flipped {
    transform:rotatey(-180deg);
    -ms-transform:rotatey(-180deg); /* IE 9 */
    -moz-transform:rotatey(-180deg); /* Firefox */
    -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
    -o-transform:rotatey(-180deg); /* Opera */
  }
  .flip .flip-image {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 1s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 1s;
    -o-transform-style: preserve-3d;
    -o-transition: 1s;
    transform-style: preserve-3d;
    transition: 1s;
  }
  .flip .flip-image .profile-img {
    position: absolute;
    /* z-index: 2; */
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
    /* overflow: auto; */
  }
  .flip .flip-image .profile-back {
    transform:rotatey(-180deg);
    -ms-transform:rotatey(-180deg); /* IE 9 */
    -moz-transform:rotatey(-180deg); /* Firefox */
    -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
    -o-transform:rotatey(-180deg); /* Opera */
  }
  .profile-front{
    height: 15em;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 5em;
    left:-7.5em;
  }
  .profile-back{
    height: 15em;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 5em;
    left:-7.5em;
  }
}
