name: Deploy to Firebase Hosting on PR
'on': pull_request
jobs:
  build_and_preview:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build
        env:
          PRIVATE_VITE_RESEND_API_KEY: ${{ secrets.PRIVATE_VITE_RESEND_API_KEY }}
          PRIVATE_VITE_GEMINI_API_KEY: ${{ secrets.PRIVATE_VITE_GEMINI_API_KEY }}

      - name: Upload build files
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./build

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: production-files
          path: ./build

      - name: Firebase Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BRIAN_CHO }}'
          projectId: brian-cho
          channelId: preview
          expires: 30d
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
